@import '../../styles/variables';

mat-card {
  margin: 1rem;
}

button {
  background-color: $brand-accent;
  color: white;
}

.bills-table {
  width: 100%;
}

.mat-menu-item {
  color: #000;
  background-color: #fff;
}

.mat-menu-item:hover {
  background-color: rgb(231, 231, 231);
}
